.avatar-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid white;
    margin-top: 25%;
    display: flex;
    object-fit: cover;
}
.profile-img{
    width: 400px !important;
    height: 400px !important;
    object-fit: cover;
}
.avatar-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),url('../images/MH-da.jpg');
    width: inherit;
    height: 250px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.applicant-img{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

@media screen and (max-width: 1263px) {
    #sidebar{
        display: none !important;
    }
}
